.Form {
  
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.Form input[type="text"] {

outline: none;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
width: 100%;
background: #fff;
margin-bottom: 4%;
border: 1px solid #ccc;
padding: 3%;
color: #555;
font: 95% Arial, Helvetica, sans-serif;
}
.Form input[type="text"]:focus
{
box-shadow: 0 0 5px rgb(93, 67, 209);
padding: 3%;
border: 1px solid rgb(100, 84, 192);
}

.Form input[type="submit"]
{

box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
width: 100%;
padding: 3%;
background: rgb(67, 77, 209);
border-bottom: 2px solid rgb(105, 95, 163);
border-top-style: none;
border-right-style: none;
border-left-style: none;	
color: #fff;
}
.Form input[type="submit"]:hover
{
background: rgb(84, 46, 188);
}